.home-dark {
  background-color: black;
  color: white;
}

.description {
  width: 800px;
  margin: 0 auto;
}

.apod {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
