body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.description {
  width: 800px;
  margin: 0 auto;
}

.apod {
  display: flex;
  align-items: center;
  justify-content: center;
}
