a {
  color: gold;
}

.card div {
  margin: 10px 0;
}

.card {
  margin: 2rem 12rem;
}

.title {
  text-align: center;
}

.nasa_id {
  text-align: right;
}

.photographer {
  text-align: center;
  font-style: italic;
}
